
## JAVASCRIPT / NODE
node_modules
**/node_modules

**/.npm
**/.env
**/.cache
**/.yarnrc
**/yarn-error.log
**/dist

client/test/_compiled.js
/websocket/test.js
js/gen/script.js
css/gen/style.css
sw.js
sw.js.map
# workaround for the service worker plugin
!/public/sw.js

## PHP
/data/logg.txt
**/menus/

assets
api/**
data/**
cache/**
tmp/**
vendor/**
deployer/vendor/**
phinx/vendor/**
.php-cs-fixer.cache
revision.inc.php

tests/_output
tests/Support/_generated/
tests/*.suite.yml
codeception.yml

dev-assets

/images/
/nbproject/
maintenance_mode_on

var/**
builds

## Documentation
docs/data/build
docs/data/api_dump.json
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/.temp/
docs/en/backend/database/database-tables-columns.md

*.swp
*.swo

## playwright
/tests/e2e/node_modules/
/tests/e2e/test-results/
/tests/e2e/playwright-report/
/tests/e2e/playwright/.cache/

## SYSTEM
.composer
.DS_Store
config/gitpod

am_cache
.idea/*
!.idea/dataSources.xml
!.idea/sqldialects.xml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dump.sql

/keys/*

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the director itself.  |
# +------------------------------------------------------------+
!/**/.gitkeep

!docker/zammad/.env

# Local composer files
.config/
.local/jar.txt
login.html

# Local debug artifacts
jar.txt
login.html
tests/Api.suite.local.yml
tests/_override_rest_only.yml
