parameters:
  level: 5
  paths:
    - src
  excludePaths:
    - %currentWorkingDirectory%/src/Dev
  bootstrapFiles:
    - config.inc.php
  treatPhpDocTypesAsCertain: false
  dynamicConstantNames:
      - GOOGLE_WALLET_ISSUER_ID
  ignoreErrors:
    # Level 4+ see https://github.com/phpstan/phpstan/issues/3264
    # Level 4+ see https://github.com/phpstan/phpstan/issues/2889
    # LEVEL 4+ We include constant values for MEM_ENABLED from config.inc.*.php:

    -
      message: '#If condition is always true#'
      paths:
        - src/Lib/Db/Mem.php
    -
      message: '#Unreachable statement - code above always terminates#'
      paths:
        - src/Lib/Db/Mem.php
